<!-- /LocalFund/views/cabecalho.ejs -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LocalFund</title>
    <link rel="stylesheet" href="/style/estilo.css">
</head>
<body>
    <header class="header">
        <h1 class="heading-1">LocalFund</h1>
        <nav class="nav">
            <ul>
                <li><a href="/admin/usuario/add">Adicionar Usuário</a></li>
                <li><a href="/admin/usuario/lst">Listar Usuários</a></li>
                <li><a href="/admin/post/add">Adicionar Post</a></li>
                <li><a href="/admin/post/lst">Listar Posts</a></li>
                <li><a href="/">Página Inicial</a></li>
                <li><a href="/timeline">Timeline</a></li>
            </ul>
        </nav>
    </header>